<?xml version="1.0" encoding="UTF-8" ?>
     <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.sysautomation.ee"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Kiryana.pk</name>

    <description>
        Kiryana.pk let's you buy grocery online in Karachi, Pakistan.
    </description>

    <author href="http://www.sysautomation.com" email="support@sysautomation.com">
        ZR Habib
    </author>
        
            <icon src="icon.png" />
        
</widget>

